{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p><a href="{% url 'home' %}">All</a></p>
  <p><a href="{% url 'cat' val="util" %}">Utilities</a></p>
  <p><a href="{% url 'cat' val="cloth" %}">Cloths</a></p>
  <p><a href="{% url 'cat' val="book" %}">books</a></p>
  <p><a href="{% url 'cat' val="toy" %}">Toys</a></p>
  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>div
        <a href="{% url 'donate_item' pk=obj.pk %}"> {{ obj.name }}</a>
        
        <!--<a href="{{ obj.document.url }}">{{ obj.name }}</a><br>-->
        {{ obj.description }}<br>{{ obj.phone }}<br>
        {{ obj.color }}
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}