<html>
    <body>
        <h1>
            Donate Here
        </h1>
        <p>
            welcome to Donation
        </p>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{form}}
            <p>Name</p>
            <input type="text"  name="name" />
            <p>Email</p>
            <input type="email"  name="email" />
            <p>Phone Number</p>
            <input type="tel"  name="ph" />
            <p>Address with pincode</p>
            <input type="text"  name="loc" />
            <p>Uplaod File</p>
            <input type='file' name="doc"/>
            <input type="submit" value="Add" />

        </form>
    </body>
</html>